{% extends "followeb/base.html" %}

{%load staticfiles%}

{% block title %} Subscribe {% endblock%}
{% block subtitle %} Add New Subscription {% endblock%}

{% block content%} 

	<input type='text' class='input-xxlarge' placeholder='Type a URL ...' id='url-text' />
	<input type='button' class='btn btn-inverse' name='search' value='Buscar' id='preview-button'/>
	
	<div class='row-fluid'>
		<div class='span12 text-center'>
			<h3 id='title-text'> Bioshock 2</h3>
		</div>
	</div>

	<div class='row-fluid'>
		<div class='span2'>
			<img src='http://josh.birnholz.com/icons/Bioshock4.png' class='img-rounded' id='image-preview'>
		</div>

		<div class='span8'>
			<p id='description-text'>
				BioShock es un videojuego de disparos en primera persona, desarrollado por Irrational Games (anteriormente conocida como 2K Boston/2K Australia), publicado el 21 de agosto de 2007 en Norteamérica para el sistema operativo Windows y la consola Xbox 360, tres días después en Europa y Australia, y el 31 de agosto en España. Una versión para la PlayStation 3, desarrollada por 2K Marin, fue posteriormente lanzada internacionalmente el 17 de octubre de 2008, el 20 en España y el 21 del mismo mes en Norteamérica. Así como una versión para Mac OS X, el 7 de octubre de 2009.3 Fue diseñado e ideado por Ken Levine. Una secuela, BioShock 2, fue lanzada el 9 de febrero de 2010.16 y una tercera parte, BioShock Infinite, fue lanzada el 26 de marzo de 2013.
			</p>
		</div>
	</div>


{% endblock %}

{%block javascript%}

<script src= {% static "followeb/js/preview.js" %}> </script>

<script> 
	init();
</script>

{% endblock %}
