
<!DOCTYPE HTML>

<html>
	
	{%load staticfiles%}
	
	<head>
		<title>{% block title%} Page's Title {% endblock %}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="{% static "followeb/css/bootstrap.min.css" %}" rel="stylesheet" media="screen"/>
	</head>
	
	<body>	
		<div class="container text-center">
			
			<div class="page-header">
				<h1>{%block subtitle%} Page's Subtitle {%endblock%}</h1>
			</div>
			
			<div class="center">
				{%block content%}
					Something of Content
				{%endblock%}
			</div>
			
			<!-- script Section -->

			<script src={% static "followeb/js/jquery-1.9.1.min.js" %}></script>
			<script src={% static "followeb/js/bootstrap.min.js" %}></script>

			{%block javascript%}
			{%endblock%}

		</div>
	</body>
</html>
